button {
    background-color: $color-green;
    color: $color-white;
    border: 2px solid $color-green;
    border-radius: 10%;
    cursor: pointer;

    &:hover {
        background-color: darken($color-green, 20%);
        border: 2px solid darken($color-green, 20%);
    }
}