@font-face {
    font-family: "Manrope-Bold";
    src: url(/fonts/Manrope/Manrope-Bold.ttf);
}

@font-face {
    font-family: "Manrope-Regular";
    src: url(/fonts/Manrope/Manrope-Regular.ttf);
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url(/fonts/Roboto_Slab/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url(/fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}