nav {
    margin: 26px 150px 0 126px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: "lg nl nr";
    justify-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include breakpoint(tablet) {
        grid-template-columns: 1fr 4fr 2fr;
        grid-template-areas: "lg nl nr";
        margin: 30px 24px 0 24px;
    }

    @include breakpoint(mobileonly) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "lg nr nl";
    }

    .navbar-toggle {
        display: none;
    }

    .logo {
        grid-area: lg;

        img {
            height: 60px;
        }
    }


    .nav-left {
        grid-area: nl;

        ul {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            justify-items: center;
            list-style-type: none;
            padding: 30px 0;

            @include breakpoint(tablet) {
                grid-template-columns: repeat(4, 1fr);
                padding: 0;
            }

            li {
                font-size: 12px;
                align-self: center;



                a {
                    text-decoration: none;
                    color: $color-black;
                    transition-duration: 0.2s;
                    padding: 10px;

                    @include breakpoint(tablet) {
                        padding: 32px 0 0 20px;
                    }

                    &:hover {
                        border-bottom: 2px solid $color-black;
                    }

                    &:active {
                        background-color: $color-blue;
                    }
                }
            }
        }
    }

    .nav-right {
        grid-area: nr;

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            list-style-type: none;
            transition-duration: 0.2s;

            li {
                align-self: center;

                .icon {
                    height: 22px;

                    @include breakpoint(tablet) {
                        height: 21px;
                    }

                    @include breakpoint(mobileonly) {
                        height: 20px;
                    }
                }

                .btnLogIn {
                    font-size: 12px;
                    padding: 15px 24px;

                    @include breakpoint(tablet) {
                        padding: 13px 25px;
                    }

                    @include breakpoint(mobileonly) {
                        padding: 14px 19px;
                    }
                }
            }
        }
    }

    @include breakpoint(mobileonly) {

        .logo {
            display: inline-block;

            img {
                height: 40px;
            }

        }

        .nav-left {
            list-style-type: none;
            display: none;
            width: 100%;

            li {
                text-align: center;
                margin: 15px auto;
                padding: 5px;

                a {
                    text-decoration: none;
                    color: $color-black;
                    transition-duration: 0.2s;

                    &:hover {
                        color: $color-blue;
                        border-bottom: none;
                    }

                    &:active {
                        color: $color-blue;
                    }
                }
            }
        }

        .navbar-toggle {
            display: block;
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
        }

        .active {
            display: block;
        }
    }
}