//colors
$color-green: #55bc92;
$color-blue: #4999f2;
$color-orange: #ef6005;
$color-yellow: #f6cb69;
$color-lightblue: #bbd8ea;
$color-grey: #868686;
$color-white: #ffffff;
$color-blackblue: #0e2841;
$color-darkblue: #183c5a;
$color-black: #000000;