.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "ac hp""ac cf";

    @include breakpoint(mobileonly) {
        grid-template-columns: 1fr;
        grid-template-areas: "hp""ac""cf";
    }

    .absolute-contact {
        position: relative;
        grid-area: ac;

        .dblue {
            // display: none;
            object-fit: cover;
            height: 230px;
            width: 230px;
            border-radius: 30px;
            position: absolute;
            top: 50px;
            -webkit-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.59);
            box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.59);

            @include breakpoint(tablet) {
                height: 160px;
                width: 160px;
                top: 50px;
                left: 30px;
            }
        }

        .dyellow {
            // display: none;
            object-fit: cover;
            height: 280px;
            width: 250px;
            border-radius: 30px;
            position: absolute;
            top: 120px;
            left: 120px;
            -webkit-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.59);
            box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.59);

            @include breakpoint(tablet) {
                height: 210px;
                width: 190px;
                top: 120px;
                left: 120px;
            }
        }

        .dorange {
            // display: none;
            object-fit: cover;
            height: 150px;
            width: 150px;
            border-radius: 30px;
            position: absolute;
            top: 270px;
            left: 90px;
            -webkit-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.59);
            box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.59);

            @include breakpoint(tablet) {
                height: 110px;
                width: 110px;
                top: 270px;
                left: 90px;
            }
        }
    }

    .up {
        grid-area: hp;
        text-align: center;

        h1 {
            padding-bottom: 2%;

            @include breakpoint(tablet) {
                font-size: 30px;
            }
        }

        p {
            font-size: 2vh;
            color: $color-grey;
            padding-bottom: 7%;

            @include breakpoint(tablet) {
                font-size: 16px;
                // padding: 0 140px 50px 140px;
            }
        }

    }


    .input {
        text-align: center;

        @include breakpoint(mobileonly) {
            margin-top: 450px;
        }

        input[type=text],
        select,
        textarea {
            padding: 12px;
            border-radius: 7px;
            resize: vertical;
            border: 1px solid rgba($color: $color-grey, $alpha: 0.3);
            color: $color-grey;
        }

        .btnMessage {
            border-radius: 7px;
            padding: 2% 0;
            text-align: center;
        }
    }
}

.contact-form {
    grid-area: cf;

    * {
        text-align: start;
        width: 60%;

        @include breakpoint(tablet) {
            width: 310px;
        }
    }

    .input-group {
        padding-bottom: 3%;
        display: inline-block;
        position: relative;

        input {
            width: 100%;

            &.not-empty+label {
                font-size: 10px;
                transform: translateY(calc(-50% - 30px));
            }
        }

        label {
            position: absolute;
            top: 37%;
            left: 12px;
            color: $color-grey;
            font-size: 2vh;
            transition: all 300ms ease;
            transform: translateY(-50%);
        }
    }
}