.home {

    .absolute {
        position: relative;

        .circle-blue {
            height: 1300px;
            width: 1300px;
            border-radius: 50%;
            background-color: $color-lightblue;
            overflow: hidden;
            text-align: center;
            position: absolute;
            top: -880px;
            right: -350px;

            img {
                height: 500px;
                margin-top: 850px;

                @include breakpoint(tablet) {
                    height: 465px;
                    margin-top: 480px;
                }

                @include breakpoint(mobileonly) {
                    margin-left: 220px;
                    opacity: 0.2;
                }
            }

            @include breakpoint(tablet) {
                top: -450px;
                right: -370px;
                height: 900px;
                width: 900px;

            }

            @include breakpoint(mobileonly) {
                top: -350px;
                right: -270px;
            }
        }
    }

    section {
        margin-left: 90px;
        width: 368px;
        position: relative;
        overflow: hidden;
        z-index: 1;


        @include breakpoint(tablet) {
            width: 50%;
        }

        @include breakpoint(mobileonly) {
            width: 100%;
            margin: 0;
            padding: 90px 0 0 0;
        }

        h1 {
            font-size: 36px;
            font-family: 'RobotoSlab-Bold';
            padding-bottom: 30px;
        }

        p {
            font-size: 14px;
            padding-bottom: 30px;

            .green {
                color: $color-green;
            }

            .blue {
                color: $color-blue;
            }

            .orange {
                color: $color-orange;
            }
        }

        .btnShop {
            padding: 10px 15px;

            @include breakpoint(tablet) {
                font-size: 14px;
                padding: 18px 34px;
            }
        }
    }
}