.products {
    h1 {
        text-align: center;
        margin-bottom: 10%;
        @include breakpoint(tablet) {
            font-size: 30px;
        }
    }

    .slider {
        width: 100%;
        height: 250px;
        position: relative;
        margin: auto;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        .slide {
            display: flex;
            position: absolute;
            left: 0;
            transition: 0.3s left ease-in-out;
        }

        .box {
            margin: 1%;
            text-align: center;
            font-family: 'RobotoSlab-Bold';

            .slide-img {
                height: 150px;
                width: 150px;
                background-color: rgba($color: $color-grey, $alpha: 0.2);
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 100px;
                }
            }

            .detail-box {
                padding: 0 5%;

                .product-name {
                    font-size: 2vh;
                    padding: 8% 0;

                    @include breakpoint(tablet) {
                        font-size: 14px;
                    }
                }

                .product-price {
                    font-size: 2vh;
                    color: $color-orange;

                    @include breakpoint(tablet) {
                        font-size: 16px;
                    }
                }
            }
        }

        .ctrl {
            text-align: center;
            margin-top: 5px;
        }

        .ctrl-btn {
            border: none;
            cursor: pointer;
            outline: none;
            position: absolute;
            top: 50%;
            margin-top: -27.5px;
            background-color: $color-green;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.pro-prev {
                left: 0;
            }

            &.pro-next {
                right: 0;

                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}